<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">SNAP</a>
    </div>

    <div class="dropdown" style="padding-top: 8px; float:right;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/location/Nairobi">Nairobi</a></li>
        <li><a href="/location/Nakuru">Nakuru</a></li>
        <li><a href="/location/Kisumu">Kisumu</a></li>
      </ul>
    </div>

    <div class="dropdown" style="padding-top: 8px; padding-right:10px; float:right;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Categories
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="/category/Travel">Travel</a></li>
        <li><a href="/category/Wildlife">Wildlife</a></li>
        <li><a href="/category/Photography">Photography</a></li>
      </ul>
    </div>

    <div class="container-fluid" style="padding-top: 8px; padding-right:10px; float:right;">
      <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </div>

  </div>
</nav>
</body>
</html>