{% extends 'base.html' %}

{% block content %}
{{block.super}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
    {% for image in images %}
    <div class="container">
        
        <div class="row">
            <div class="col-md-4"><hr></div>
            <div class="col-md-4">
                <h2 class="text-center"> {{ image.img_name }} </h2>
                <img src="{{ image.image.url }}" alt="Image" width="100%">
            </div>
            <div class="col-md-4"><hr></div>
        </div>
    </div>
    {% endfor %}
</body>
</html>
{% endblock %}